.add-ticket-form {
    width: 600px;
    height: 700px;
    background-color: rgba(25, 157, 241, 0.62);
    border-radius: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.add-ticket-form input[type="submit"] {
    background-color: rgba(95, 245, 221, 0.24);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
    margin: auto;
}

.add-ticket-form input[type="submit"]:hover {
    background-color: white;
    color: #5aa2ff;
    border: 2px solid #5aa2ff;
}

.add-ticket-form-field1 {
    margin-top: 30px;
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    margin-left: -70px;
}

.add-ticket-form input {
    background: transparent;
    color: white;
}

.add-ticket-form-field1 input {
    margin-left: 10px;
}

.add-ticket-form-field2 {
    margin-top: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
    margin-left: -130px;
}

.add-ticket-form-field2 input {
    margin-left: 10px;
}

.add-ticket-form-field3 {
    margin-top: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.add-ticket-form-field3 input {
    margin-left: 10px;
}

.add-ticket-form-field4 {
    margin-top: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
    margin-left: -45px;
}

.add-ticket-form-field4 input {
    margin-left: 10px;
}

.add-ticket-form-field5 {
    margin-top: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
    margin-left: -63px;
}

.add-ticket-form-field5 input {
    margin-left: 10px;
}

.add-ticket-form-field6 {
    margin-top: 30px;
    font-family: 'Open Sans';
    color: white;
    font-size: 20px;
    margin-left: -70px;
}

.add-ticket-form-field6 input {
    margin-left: 10px;
}

.add-ticket-form-submit {
    margin-top: 30px;
}

.add-ticket-form input[type="text"],
.add-ticket-form input[type="number"],
.add-ticket-form input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-ticket-form input[type="text"]:focus,
.add-ticket-form input[type="number"]:focus,
.add-ticket-form input[type="date"]:focus {
    outline: none;
    border-color: #2d2d2d;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
}

body, html {
    height: 100%;
    width: 100%;
}

.fullscreen-div {
    width: 100%;
    height: 100vh;
}

