.main{
    height: 100%;
    width: 100%;
    position: relative;
}

@media (max-width: 600px) {
    main {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    height: 100%;
    width: 100%;
}

body, html {
    height: 100%;
    width: 100%;
    background-image: url("../resources/background-min.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.fullscreen-div {
    width: 100%;
    height: 100vh;
}

.clouds {
    position: absolute;
    background-image: url("../resources/clouds-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 1200px;
    left: 0;
    z-index: 0;
    opacity: 1;
}

.plane {
    position: absolute;
    background-image: url("../resources/plane-main-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 170px;
    width: 800px;
    height: 400px;
}

.z-index {
    height: 100%;
    width: 100%;
    z-index: 5;
}

